<%= form_for(@micropost, html:{ multipart:true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: '发表一篇新微博' %>
  </div>
  <%= f.submit '发表', class: 'btn btn-primary' %>
  <span class="picture">
    <%=  f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
$('#micropost_picture').bind('change', () => {
  var _size = this.file[0].size/1024/1024
  if (_size > 5) {
    alert('最大尺寸不要超过5MB,请选择小一点的图片')
  }
})
</script>